@import "styles/variables";

.section {
  margin: 2.5em;
  padding-top: 2em;
  @include layout--small {
    margin-left: 1em;
    margin-right: 1em;
  }
  &__header {
    font-family: $font__family__zilla;
    font-weight: $font__weight--medium;
  }
}
.highlight {
  &__boxes {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    text-align: center;
  }
  &__tools {
    display: none;
  }
}
