@import "../../styles/variables";

.timeline {
  &__item {
    margin-bottom: 4em;
  }
  &__header {
    font-family: $font__family__zilla;
    margin-top: 0;
    margin-bottom: 0.5em;
    border-bottom: 3px solid $palette__accent--secondary;
    border-radius: 2px;
    padding: 0.5em 0 0;
    display: inline-block;
  }
  &__intro {
    font-family: $font__family__zilla;
    font-weight: $font__weight--thin;
    margin-top: 2em;
  }
}
.section__header {
  background-color: $palette__background--secondary;
  border-bottom: $rule;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 2.5em;
  max-width: none;
  margin-left: -2.5em;
  margin-right: -2.5em;
  @include layout--small {
    margin-left: -1em;
    margin-right: -1em;
  }
}
