$palette__background: #fbfbfb;
$palette__background--secondary: #f4f6f9;
$palette__background--sidebar: #393941;
$palette__accent: #fafe38;
$palette__accent--secondary: #ed5437;
$palette__text: rgba(0, 0, 0, 0.87);
$palette__text--light: #6d6a6a;
$palette__rule: rgba(0, 0, 0, 0.12);
$palette__stroke: rgba(0, 0, 0, 0.72);
