$rule: thin solid $palette__rule;

$shadow--small: 0px 0px 0px -2px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.06);
$shadow--medium: 0px 0px 0px 1px rgba(0, 0, 0, 0.12),
  0px 8px 8px -2px rgba(0, 0, 0, 0.12);
$shadow--large: 0px 0px 0px 1px rgba(0, 0, 0, 0.12),
  0px 20px 15px rgba(0, 0, 0, 0.12);
$shadow--sidebar: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
  0 1px 10px 0 rgb(0 0 0 / 12%);

$breakpoint--small: 600px;
$breakpoint--medium: 960px;

@mixin layout--small {
  @media screen and (max-width: $breakpoint--small) {
    @content;
  }
}

@mixin layout--medium {
  @media screen and (max-width: $breakpoint--medium) {
    @content;
  }
}

@mixin layout--large {
  @media screen and (max-width: $breakpoint--large) {
    @content;
  }
}
