@import "./variables";

.menu-button {
  margin: 1em 1em -1em;
}
.contact {
  @include layout--small("invert") {
    padding: 2em;
  }
  &__item {
    padding: 1em;
    a {
      color: $palette__text;
    }
  }
}
.section {
  margin: 2.5em;
  padding-top: 2em;
  @include layout--small {
    margin-left: 1em;
    margin-right: 1em;
  }
  &__header {
    font-family: $font__family__zilla;
    font-weight: $font__weight--medium;
  }
}
.highlight-block {
  margin-top: 2em;
  &__item {
    text-align: center;
    padding: 1em;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top: 3px solid transparent;
    &:hover {
      @include layout--small("invert") {
        cursor: pointer;
        border-color: $palette__accent--secondary;
        @include quint-ease-out(background-color);
        @include quint-ease-out(border-color);
      }
    }
  }
  &__image {
    margin: 1em 0;
  }
  &__heading {
    font-family: $font__family__zilla;
    font-weight: $font__weight--medium;
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }
  &__label {
    font-family: $font__family__roboto;
    font-weight: $font__weight--regular;
  }
  &__detail {
    text-align: center;
    padding: 0.5em;
    background-color: $palette__accent;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-family: $font__family__zilla;
    border: $rule;
    border: 3px solid $palette__stroke;
    opacity: 0;
  }
  &:hover .highlight-block__detail {
    opacity: 1;
    @include quint-ease-out(opacity);
  }
}
